---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import type { TPostType } from "@/types";
const entry = (await getEntryBySlug("faq", "index")) as TPostType;
const { title, description, faqs } = entry.data;
---

<script>
  const faqItems = Array.from(document.querySelectorAll(".cs-faq-item"));
  for (const item of faqItems) {
    const onClick = () => {
      item.classList.toggle("active");
    };
    item.addEventListener("click", onClick);
  }
</script>
<Base title={title} description={description}>
  <section class="section">
    <div class="container">
      <h1 class="text-center font-bold" set:html={markdownify(title)} />
      <div class="section row -mt-6">
        <section id="faq-1505">
          <div class="cs-container">
            <div class="cs-flex-group">
              <ul class="cs-faq-group">
                <!-- Active class added as default -->
                {
                  faqs?.map((faq) => (
                    <li class="cs-faq-item">
                      <button class="cs-button">
                        <span
                          set:html={markdownify(faq.title)}
                          class="cs-button-text"
                        />
                        <span class="cs-indicator" aria-hidden="true" />
                      </button>
                      <p
                        class="cs-item-p faq-body mt-4"
                        set:html={markdownify(faq.answer)}
                      />
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</Base>
